@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/* @General */
html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.container {
	height: 100%;
}

.sidebar {
	float: left;
	width: 25%;
	height: 100%;
	background-color: #37474F;
}

.main {
	float: right;
	width: 75%;
	height: 100%;
	background-color: white;
}
.content {
	padding: 50px 100px;
}

/* @Sidebar */

.logo {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 80%;
	min-width: 30px;
	padding: 5px 5px;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	height: auto;
	width: 30%;
	min-width: 30px;
	padding: 5px 5px;
}
	
.sitename {
	text-align: center;
}

.sitename a {
	text-decoration: none;
	color: white;
}

.sitename a:hover {
	color: lightgrey;
}

ul {
	width: 100%;
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	border-bottom: 1px solid white;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 100px;
}

ul li:first-child {
	border-top: 1px solid white;
}

ul li:hover {
	background-color: #607D8B;
}

ul li a {
	text-decoration: none;
	color: white;
	display: block;
	line-height: 100px;
}

.active {
	background-color: #263238;
}


/* @About */

.p_start {
	font-size: 26px;
	font-weight: 700;
}


/* @Personal */

.map_image {
	height: 300px;
	width: auto;
	border: 2px dotted lightgrey;
}

.thumbnail {
	height: auto;
	width: 20%;
	border: 2px;
}

/* @Course */

td {
	padding: 3%;
}

td:nth-of-type(1) {
	width: 100px;
	text-align: right;
}

input[type="text"] {
	width: 240px;
	height: 24px;
}

textarea {
	width: 240px;
}

input[type="submit"] {
	width: 120px;
	height: 40px;
	background-color: #eeeeee;
	color: black;
	font-weight: 700;
	font-size: 14px;
}

.require {
	color: orange;
}