@import url('https://fonts.googleapis.com/css?family=Roboto');

/* @General */
/*html {
	height: 100%;
}*/

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	background: #383439;
	height: auto;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
    -30px 0px 40px rgba(0, 0, 0, 0.1);
}

#landing {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1rem;
  padding-left: 1rem;
}

#landing-text h2 {
  color: #888;
}

#landing-image {
  background: url("Images/Landing/Inktober2018Day1.gif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

.btn:hover {
  background: #f4f4f4;
}

#header {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

.caption {
  padding: 0.8rem;
  text-align: center;
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;
}

/* Screen Sizes 500px and Up */
@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }
}

/* Screen Sizes 700px and Up */
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}


/*.container {
	height: 100%;
}

.sidebar {
	position: fixed;
	width: 25%;
	height: 100%;
	background-color: #37474F;
}

.main {
	float: right;
	width: 75%;
	height: 100%;
	background-color: white;
}
.content {
	padding: 50px 100px;
}

.center {
	text-align: center;
}

.pic {
	width: 80%;
	height: auto;
}

.hr {
	width: 100%;
	height: 1px;
	background: #fff;
}
*/

/* @Sidebar */
/*
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 80%;
	min-width: 30px;
	padding: 5px 5px;
}

.icon {
	display: inline-block;
	vertical-align: middle;
	height: auto;
	width: 30%;
	min-width: 30px;
	padding: 5px 5px;
}

ul {
	width: 100%;
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
	border-bottom: 1px solid white;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 80px;
}

ul li:first-child {
	border-top: 1px solid white;
}

ul li:hover {
	background-color: #607D8B;
}

ul li a {
	text-decoration: none;
	color: white;
	font-size: large;
	display: block;
	line-height: 80px;
}

.active {
	background-color: #263238;
}

button {
	display: inline;
	height: 30px;
	width: 50px;
	border-radius: 8px;
	padding: 2px;
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	height: 26px;
	cursor: pointer;
	background-color: #37474F;
	text-decoration: none;
	color: white;
}
*/

/* @About */
/*
.p_start {
	font-size: 26px;
	font-weight: 700;
}

.smallicon {
	vertical-align: middle;
	margin: 5px;
	height: auto;
	width: 5%;
}
*/

/* @Thumbnails */
/*
.thumbnail2 {
	height: auto;
	width: 40%;
	border: 2px;
}

.thumbnail3 {
	height: auto;
	width: 26.66%;
	border: 2px;
}

.thumbnail4 {
	height: auto;
	width: 20%;
	border: 2px;
}*/